@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand: #FD1015;
  --color-brand-dark: #D90E12;
  --color-surface: #ffffff;
  --color-background: #F4F4F4;
}

@layer base {
  body {
    @apply antialiased bg-[#F4F4F4] text-[#1D1D1D] selection:bg-red-100 selection:text-red-900;
  }
}

.blueprint-grid {
  background-image: radial-gradient(circle, #e5e5e5 1px, transparent 1px);
  background-size: 24px 24px;
}

.glass-panel {
  @apply bg-white/90 backdrop-blur-sm border border-slate-200 shadow-sm;
}
